$primary-color: #2196F3;
$secondary-color: #00bcd4;

$header-height: 56px;
$navbar-height: 56px;
$navbar-height-mobile: 64px;
$subheader-height: 48px;
$font-size-action-icon: 18px;
$transition-duration: .2s;